

// -----------------------------

更新文档：


2019.07.10 v0.0.134~v0.0.138{
  1.修复支付宝认证完用户没有显示完成效果的bug
  2.修复支付宝认证完未能进行下一步审核的问题
  3.修复身份证号码未上传到后台的问题
}

2019.07.08 v0.0.129~v0.0.130{
  1.修改芝麻认证转为支付宝认证
	2.新旧身份证验证功能兼容(原认证过的用户无需二次认证)
  
}

2019.05.21 v0.0.129~v0.0.129{
  1.完善保险购买须知内容
  2.修复已知bug
}

2019.05.14 v0.0.126~v0.0.127{
  1.修复宠物保险显示bug
  2.新增猫小馆tab
}

2019.04.12 v0.0.122~v0.0.125{
  1.修复用户授权无法获取信息的bug
  2.修复已知的异常bug
}

2019.04.03 v0.0.121~v0.0.121{
  1.更新寄养的评价
  2.更新训导的评价
  3.增加文本识别能力鉴别评价内容
  4.新增平台管理员删除违规评论按钮
  5.修复异常bug
}

2019.02.14 v0.0.119~v0.0.120{
  1.更新首页寄养需求发布框
  2.修复寄养订单按钮显示异常
  3.修复实名认证名字带符号的无法认证的bug
  4.更新保险内容
  5.增加WebSocket连接
}

2019.01.22 v0.0.118~v0.0.118{
  1.添加与宠掌柜的跳转
  2.添加与宠物AR识别
  3.添加商家入驻跳转宠掌柜
}

2019.01.17 v0.0.116~v0.0.117{
  1.更新附近tab的图标
  2.增加个人页宠物跳转
  3.优化首页收藏有礼浮层的显示
  4.修复寄养需求地址显示异常
}

2019.01.16 v0.0.115~v0.0.115{
  1.修复列表展示不匹配的bug
  2.重新优化需求功能
  3.添加收藏有礼浮层
  4.优化服务端管理页面
}

2019.01.12 v0.0.110~v0.0.114{
  1.首页改版
  2.广场改成附近
  3.新增保险模块
  4.修复已知异常
}

2019.01.06 v0.0.109~v0.0.109{
  1.添加收藏有礼活动
  2.删除收藏组件
  3.修复已知异常
}

2019.01.02 v0.0.108~v0.0.108{
  1.修复寄养订单无法完成
  2.修复家庭端列表名称显示出错
  3.修复已知异常
}

2018.12.28 v0.0.107~v0.0.107{
  1.修复寄养金额显示异常
  2.修复订单按钮显示异常
  3.修复服务列表更新后显示异常
}

2018.12.25 v0.0.106~v0.0.106{
  1.修复用户信息头像保存失败bug
  2.完善服务数据信息页
  3.修复已知异常
}

2018.12.24 v0.0.105~v0.0.105{
  1.修复需求私聊名称显示bug
  2.新增家庭分享按钮
  3.删除私聊页跳转个人主页
  4.首页卡劵悬浮按钮开启
}

2018.12.22 v0.0.104~v0.0.104{
  1.修复个人商家主页个人资料显示bug
  2.修复用户信息保存头像照片未上传bug
  3.修复搜索显示异常
}

2018.12.20 v0.0.103~v0.0.103{
  1.修复订单按钮文字
  2.修复用户信息保存性别为女时显示bug
  3.修复训导师申请时性别为女时判断出错bug
}

2018.12.18 v0.0.102~v0.0.102{
  1.新增训宠师
  2.首页布局调整
  3.修复完善bug
  
  * 页面路径大调整 删除了日历 配对 合同签名等
}

2018.11.23 v0.0.101~v0.0.101{
  1.修复家庭信息地址显示bug
  2.修复家庭主人资料展示bug
  3.修复家庭下单时日期选择bug
}

2018.10.30 v0.0.99~v0.0.100{
  1.修复安卓手机用户信息无法获取的bug
  2.增加用户输入文字的字段的文本风险识别
  3.修复客服无反应的bug
  4.增加家庭审核上传视频示例
}

2018.10.29 v0.0.97~v0.0.98{
  1.增加图片的分级压缩显示
  2.预览图片加水印
  3.修复用户某些操作没有获取用户信息的问题
  4.修复家庭照片上传数量限制
  5.优化首页加载
  6.优化聊天消息发送
  7.完善家庭名称的显示
}

2018.10.26 v0.0.93~v0.0.96{
  1.我的页面重布局
  2.家庭详情重布局
  3.完善家庭申请流程
  4.完善家庭寄养流程
  5.新增家庭管理页
  6.新增家庭收入记录
  7.修复添加地址异常bug
}

2018.10.15 v0.0.92~v0.0.92{
  1.申请家庭流程版本更改
  2.修复部分已知bug
}

2018.09.14 v0.0.86~v0.0.90{
  1.新增用户邀请家庭注册奖励活动
  2.新增卡包卡劵领取
  3.修复部分已知bug
}

2018.09.14 v0.0.73~v0.0.85{
  1.修复下单时异常bug
  2.修复宠物重新编辑显示异常bug
  3.修复部分用户申请寄养家庭时无法填写资料bug
  4.修复点击协议无法跳转bug
  5.增加铭感词过滤
  6.修复上传的认证视频无法播放问题
}

2018.09.14 v0.0.67~v0.0.72{
  1.新增需求功能
  2.新增优惠券功能
  3.家庭主页增加地址导航
  4.新增中秋国庆活动
}

2018.09.09 v0.0.65~v0.0.66{
  1.家庭版本
}

更新文档：

2017.1.2 v0.0.64{
  1.修复广场宠物类型选择的bug
  2.首页改版
  3.新增五一寄养送保险活动
}

2017.1.2 v0.0.51{
  1.修复时常弹出兴趣标签选择的bug
  2.寄养流程改版
  3.可主动要求收养人收养
  4.新增通告功能
  5.寄养发布新增条件筛选
  6.寄养发布加入文字内容鉴别
}

2017.1.2 v0.0.50{
  1.修复实名认证无法识别带X身份证号码的bug
  2.修复用户主页编辑显示异常
  3.修复时常弹出兴趣标签选择的bug
  4.寄养流程合同身份证加密
  5.认证收养人主页不再显示手机号码
}

2017.12.28 v0.0.49{
  1.修复认证收养人流程状态bug
  2.新增用户养宠知识答题功能
}

2017.12.27 v0.0.48{
  1.更改认证收养人流程
  2.增加认证收养人列表
  3.个人主页改版
  4.宠物详情改版
  5.添加宠物字段更改
  6.修复宠物广场品种选择无效的BUG
  7.新增个人感兴趣标签的选择
}

2017.12.10 v0.0.45{
  1.页面寄养列表图片布局间距微调
  2.隐藏自己的个人主页的留言按钮
  3.取消选择地址时不弹出取消用户操作的提示
  4.宠物配对功能
}

2017.12.6 v0.0.43-v0.0.44{
  1.页面布局改版
  2.新增长按删除宠物
  3.搜索页新版本可搜索宠物
  4.修复申请列表留言标题显示异常
  5.修复页面丢失问题
  6.添加宠物时增加宠物地址的字段 
  7.发布内容时地址默认选中
}

2017.11.27 v0.0.42-v0.0.42{
  1.寄养流程加入了信用借用
  2.修复宠物广场宠物城市显示bug
  3.寄养申请列表加了留言
}

2017.11.23 v0.0.40-v0.0.41{
  1.新增模板推送
  2.新增关注生活号按钮
  3.首页布局调整
}

2017.11.18 v0.0.36-v0.0.39{
  1.新增举报宠物信息的功能
  2.新增宠物打赏动效
  3.新增余额打赏
  4.新增消息功能
  5.新增私聊功能
  6.图标微调整
}

2017.11.13 v0.0.27-v0.0.35{
  1.新增宠物打赏功能
  2.新增账单明细
  3.新增寄养的标签评价
  4.新增banner轮播
  5.首页布局微调
  6.广场布局微调
  7.钱包布局微调
  8.钱包增加打赏记录
  9.宠物详情页增加浏览数
  10.修改导航栏背景色
}

2017.11.3 v0.0.24-v0.0.26{
  1.新增宠物详情状态
  2.新增页面转发
  3.新增广场宠物的简单信息
  4.修复公告轮播
  5.修复流程按钮无法显示
  6.修复按钮文字无法显示
  7.隐藏人物评价与宠物评价的内容
  8.完善钱包收米功能
  9.修改导航栏背景色
}

2017.11.1 v0.0.23{
  1.新增萌宠公告
  2.新增萌宠广场
  3.新增寄养协议以及签名功能
  4.新增添加宠物生活照
  5.新增余额收米功能
  6.宠物展示页改版
  7.完善寄养流程
}


// ---------支付宝模板推送------------
1.在form表单上加上 receiver-user-id=""，里面放入操作用户的支付宝userId
